body {
  background-color: #3b608e;
  color: white;
  text-align: center;
}
h1 {
  color: gold;
}
h2 {
  color: yellow;
}
article {
  background-color: black;
  opacity: 0.5;
  font-family: sans-serif;
  font-size: large;
  border-radius: 20px;
  margin: 10px 50px;
}
#heading {
  color: #131302;
}
.price {
  color: #ececbb;
}
button {
  background-color: #e1aa36;
  color: #131302;
  margin: 10px 20px;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  /* transition: background-color 0.3 ease; */
}
button:hover {
  background-color: #cfab8d;
}
